//Добавить шрифт!!!


// Файл обнуляющих стилей
@import "nullstyle.scss";

html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    color: #221E29;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    
}


//testing start
.testing__background {
    background: radial-gradient(191.25% 90.42% at 0.00% 58.21%, rgba(199, 185, 240, 0.60) 0%, rgba(199, 200, 208, 0.00) 100%), radial-gradient(196.86% 84.45% at 100.00% 62.23%, rgba(199, 185, 240, 0.60) 0%, rgba(199, 200, 208, 0.00) 100%), #FFF;
}

.testing__column {
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-image: url(../img/testing-6.png),url(../img/testing-5.png);
    background-repeat: no-repeat;
    background-position: left 433px,right 61px;
    padding-top: calc(60px + (120 - 60) * ((100vw - 320px) / (1366 - 320)));
    padding-bottom: calc(60px + (120 - 60) * ((100vw - 320px) / (1366 - 320)));
    padding-left: calc(32px + (96 - 32) * ((100vw - 320px) / (1366 - 320)));
    padding-right: calc(32px + (96 - 32) * ((100vw - 320px) / (1366 - 320)));
    @media (max-width: 819px) {
        background-image: url(../img/testing-6.png),url(../img/testing-5.png),url(../img/testing-6.png),url(../img/testing-5.png);
        background-position: left 0px, right 470px,left 970px, right 1470px;
        background-size: 50%,50%;
    }
}

.testing__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: calc(10px + (100 - 10) * ((100vw - 320px) / (1366 - 320)));
    @media (max-width: 819px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    @media (max-width: 819px) {
        .testing__text {
            order: 1;
        }
    }
}

.testing__text {
    display: flex;
    flex-direction: column;
    flex: 1 0 220px;
    max-width: 547px;
    h2 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0px 0px 16px 0px;
        @media (max-width: 819px) {
            text-align: center;
        }
    }
}

.testing__text-white {
    color: #D8EFE3;
}

.testing__par-learn {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media (max-width: 819px) {
        align-items: center;
        text-align: justify;
    }
}

.testing__learn {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23CC4B;
    border-radius: 10px;
    width: 137px;
    color: #D8EFE3;
}

.testing__learn-bg-purple {
    background: #9E65C6;
}
.testing__learn-text {
    display: flex;
    gap: 8px;
}

.testing__learn-text::after {
    content: url('../img/svg/testing-7.svg');
}
@media (max-width: 819px) {
    .testing__text-white {
        color: #221E29;
    }
    h2 {
        color: #221E29;
    }
}

//testing end

