//Добавить шрифт!!!


// Файл обнуляющих стилей
@import "nullstyle.scss";

html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    color: #221E29;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    
}

.container {
    position: relative;
    max-width: 1366px;
    margin: 0 auto;
    
}



//testing start

.testing__background {
    background: radial-gradient(191.25% 90.42% at 0.00% 58.21%, rgba(199, 185, 240, 0.60) 0%, rgba(199, 200, 208, 0.00) 100%), radial-gradient(196.86% 84.45% at 100.00% 62.23%, rgba(199, 185, 240, 0.60) 0%, rgba(199, 200, 208, 0.00) 100%), #FFF;
}

.testing__column {
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-image: url(../img/testing-5.png),url(../img/testing-6.png);
    background-repeat: no-repeat;
    background-position: right 106px,left 478px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 96px;
    padding-right: 96px;
    @media (max-width: 1366px) {
        background-position: right 106px,left calc(560px + (478 - 560) * ((100vw - 900px) / (1366 - 900)));
    }
    @media (max-width: 899px) {
        padding-top: calc(60px + (120 - 60) * ((100vw - 320px) / (900 - 320)));
        padding-bottom: calc(60px + (120 - 60) * ((100vw - 320px) / (900 - 320)));
        padding-left: calc(32px + (96 - 32) * ((100vw - 320px) / (900 - 320)));
        padding-right: calc(32px + (96 - 32) * ((100vw - 320px) / (900 - 320)));
        background-size: 100%;
    }
    @media (max-width: 899px) {
        background-position: right calc(210px + (-106 - 210) * ((100vw - 708px) / (1366 - 708))),left calc(510px + (560 - 510) * ((100vw - 708px) / (1366 - 708)));
    }
    @media (max-width: 707px) {
        background-position: right calc(240px + (210 - 240) * ((100vw - 586px) / (1366 - 586))),left calc(510px + (510 - 510) * ((100vw - 586px) / (1366 - 586)));
    }
    @media (max-width: 585px) {
        background-position: right calc(390px + (240 - 390) * ((100vw - 500px) / (1366 - 500))),left 840px;
    }
    @media (max-width: 500px) {
        background-image: url(../img/testing-6.png),url(../img/testing-5.png),url(../img/testing-6.png),url(../img/testing-5.png);
        background-position: left -53px, right calc(400px + (106 - 400) * ((100vw - 320px) / (1366 - 320))),left calc(820px + (840 - 820) * ((100vw - 320px) / (1366 - 320))), right 1350px;
    }
}

.testing__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 585px) {
        flex-wrap: wrap;
    }
    @media (max-width: 585px) {
        .testing__text {
            order: 1;
        }
    }
}

.testing__text {
    display: flex;
    flex-direction: column;
    flex: 1 0 271px;
    max-width: 547px;
    @media (max-width: 834px) {
        max-width: 427px;
    }
    h2 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0px 0px 16px 0px;
    }
}

.testing__text-left {
    margin-right: 10px;
}

.testing__text-right {
    margin-left: 10px;
}

.testing__text-white {
    color: #D8EFE3;
}

.testing__par-learn {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testing__learn {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23CC4B;
    border-radius: 10px;
    width: 137px;
}

.testing__learn-bg-purple {
    background: #9E65C6;
}
.testing__learn-text {
    display: flex;
    gap: 8px;
    color: #D8EFE3;
}

.testing__learn-text::after {
    content: url('../img/svg/testing-7.svg');
}

@media (max-width: 585px) {
    .testing__text-black {
        p {
            color: #221E29;
        }
        h2 {
            color: #221E29;
        }
    }
}
//testing end

